FROM       python:{{ config.python.version }}-slim
MAINTAINER "David O'Gwynn <dogwynn@lowlandresearch.com>"

RUN apt-get update

RUN apt-get install -y openssh-server supervisor

{% if config.apt %}
RUN apt-get install -y {{ config.apt | join(' ') }}
{% endif %}

RUN mkdir -p /var/run/sshd
RUN mkdir -p /var/log/supervisor

RUN echo 'root:root' |chpasswd

RUN sed -ri 's/^#?PermitRootLogin\s+.*/PermitRootLogin yes/' \
    /etc/ssh/sshd_config
RUN sed -ri 's/UsePAM yes/#UsePAM yes/g' /etc/ssh/sshd_config

RUN mkdir /root/.ssh

RUN apt-get clean && \
    rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*

{% if config.expose_ssh %}
EXPOSE 22
{% endif %}

{% if config.python %}
ENV PYTHON_PATH /netlab-install/python
RUN mkdir -p $PYTHON_PATH

WORKDIR $PYTHON_PATH

{% if config.python.requirements %}
COPY {{ config.python.requirements_path.name }} requirements.txt
RUN pip install -r requirements.txt
{% endif %}
{% endif %}

ENV LAB_PATH /lab
RUN mkdir -p $LAB_PATH

WORKDIR $LAB_PATH

COPY {{ config.lab.name }} .

COPY {{ config.supervisor.name }} /etc/supervisor/conf.d/supervisor.conf

CMD    ["/usr/sbin/supervisord"]
