# http://www.tothenew.com/blog/dockerizing-nginx-and-ssh-using-supervisord/

[supervisord]
nodaemon=true

[program:sshd]
command=/usr/sbin/sshd -D

{% for program in config.programs: %}
[program:{{ program.name }}]
command={{ program.command }}
{%-   for k,v in program.args.items: %}
{{ k }}={{ v }}
{%-   endfor %}
{% endfor %}